.app-container {
  background-color: #152850;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 70%;
  display: flex;
}
.input-container {
  background-color: #ffffff;
  width: 50%;
}
img {
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
input {
  margin-bottom: 10px;
}
